/** Improve prose styling */
.prose {
  div.code-group pre {
    margin: 0;
    padding: 0;
    --tw-prose-pre-bg: transparent;
    --tw-prose-invert-pre-bg: transparent;
  }

  .form-field {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  input,
  select {
    display: block;
    font-size: 0.9rem;
    padding: 0.5em 1em 0.4em;
    border: 1px solid var(--color-slate-200);
    border-radius: 4px;
    outline: none;
    margin: 0.5rem 0;
    background-color: white;
  }

  @at-root html.dark & {
    input,
    select {
      color: var(--color-gray-200);
      background-color: var(--color-slate-600);
      border-color: var(--color-slate-500);
    }
  }
}

/** Add highlight to code blocks */
.shiki.has-highlighted {
  .line {
    opacity: 0.4;
    &.highlighted {
      &,
      & > * {
        opacity: 1;
        background-color: var(--color-yellow-50);
      }
    }
  }
}
html.dark {
  .shiki.has-highlighted {
    .line {
      &.highlighted {
        &,
        & > * {
          background-color: var(--color-slate-600);
        }
      }
    }
  }
}
